.profile-page {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.profile-row {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5%;
    padding: 0 1%;
}

.profile-row .profile-col {
    background-image: linear-gradient(to bottom right, rgb(36, 102, 255), rgb(0, 42, 140));
    color: #fff;
    border-radius: 10px;
    padding: 1% 0;
}

.profile-row .profile-col h1 {
    font-family: "Work Sans", sans-serif;
}

.profile-row .profile-col h5 {
    padding-bottom: 1%;
    border-bottom: 2px solid rgb(180, 180, 180);
}